@tailwind base;
@layer base {
  html {
    font-family: 'Pretendard';
    @apply leading-7;
  }
  article a {
    @apply text-blue-400;
  }
  pre {
    @apply p-2;
  }
  h1 {
    @apply text-2xl leading-loose font-extrabold;
  }
  h2 {
    @apply text-xl leading-loose font-bold;
  }
  h3 {
    @apply text-lg leading-8 font-semibold;
  }
  h4 {
    @apply text-lg leading-8 font-medium;
  }
  ol {
    @apply list-decimal list-inside;
  }
}
@tailwind components;
@tailwind utilities;

[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;
  padding: 1rem;
  border: 1px solid #8b8b8b;
  margin-top: 0;
}

[data-rehype-pretty-code-title] {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border: 1px solid #8b8b8b;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-style: none;
}

[data-rehype-pretty-code-title] + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
[data-rehype-pretty-code-figure] code {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] [data-line]::before {
  counter-increment: line;
}

[data-line-numbers] > [data-line]::before {
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1rem;
}

[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 2rem;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
